<h3 class="text-center">Employee List</h3>


<div id="addTab">

</div>

<div id="viewTab">
  <table class="table table-striped" style="margin: auto;width: 70%; font-family: Calibri">
    <thead>
    <tr>
      <th width="10%">Sl. No</th>
      <th width="20%">Full Name</th>
      <th width="10%">Email</th>
      <th width="10%">Date of Birth</th>
      <th width="10%">Status</th>
      <th width="20%">Action</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let employee of employeeList; let i = index">
      <td>{{i + 1}}</td>
      <td>{{employee.empFullName}}</td>
      <td>{{employee.empEmail}}</td>
      <td>{{employee.empDOB}}</td>
      <td>{{employee.empActive}}</td>
      <td><button type="button" ng-click="editUser()" class="btn btn-primary custom-width">Edit</button>&nbsp;
                <button type="button" ng-click="deleteUser()" class="btn btn-danger custom-width">Delete</button></td>
    </tr>
    </tbody>
  </table>
</div>

